{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
    rebar3_lint,
    erlfmt
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [lab2]}
]}.

{erlfmt, [
    check,
    verbose,
    {print_width, 100},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.
